---
import { useSanityClient } from "astro-sanity";
import PortableText from "../../components/PortableText.astro";
import { Post } from "../../utils/sanity";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await useSanityClient().fetch(`*[_type == "post"]`);

  return posts.map((post: Post) => {
    return {
      params: {
        slug: post.slug?.current || "",
      },
      props: { ...post },
    };
  });
}

const { title, mainImage, body } = Astro.props;
---

<Layout title={title} image={mainImage}>
  <img src={mainImage} />

  <h1 class="text-5xl font-bold mb-20">{title}</h1>
  <PortableText portableText={body} />
</Layout>
